<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.executives.motors">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name="com.executives.motors.splash_screen.view.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.executives.motors.home.home_page"
            android:label="@string/title_activity_home_page">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
    <!---->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.executives.motors.welcome_screen.view.WelcomeScreenActivity"
            android:label="@string/title_activity_welcome_page">
        </activity>
        <activity android:name="com.executives.motors.login.view.LoginScreenActivity"
            android:label="login_activity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>